body {
	width: 500px;
	height: 400px;
	padding: 0px;
	margin: 0px;
	font-size: 10pt;
	font-family: arial, sans-serif;
}

.kudosLinje {
	display: block;
	width:  486px;
	padding: 4px !important;
	margin: 2px !important;
	background-color: rgb(240,240,240);
}

.kudosLinje span {
	margin: 0px 2px 0px 2px;
}

.kudosTid {
	color:  rgb(100,100,100);
}

.kudosNavn {
	font-weight: bold;
	color:  #080;
}

.lesmer {
	width:  480px;
	text-align: center;
	border-top: 2px solid rgb(190,190,190);
	padding:  5px;
	margin:  5px;
}

.listBox {
	padding: 4px;
	background-color: rgb(240,240,240);
	/*border: 1px solid rgba(0,0,0,0.1);*/
	margin: 5px;
	width: 480px;
	clear: both;
	position: relative;
	overflow:  hidden;
	cursor: pointer;
}

.inlineHeader {
	display: block;
	width:  480px;
	text-align: center;
	margin:  10px 5px 10px 5px;
	padding:  4px;
	background-color: #BAF300;
	font-family: arial, sans-serif;
}



.listBox p {
	padding: 3px;
	margin: 0px;
}


.listHeader {
	font-size: 12pt;
	cursor: pointer;
	font-family: arial, sans-serif;
}


.listHeader :hover {
	color: rgb(150,150,150);
}

.listMessage {

}

.listPostImage {
	padding:  0px;
	width:  490px;	
	margin-bottom: 0px;
	border:  none;
	height:  120px;
}

.listMessageImgbox {
	width: 50px;
	float: left;
	height:  100%;
	position: relative;
	margin:  0px 0px 0px 0px;
	
}

.listMessageHeader {
	color:  rgb(100,100,100);
}

.listMessageImgbox .imgTo {
	width: 50px;
	position: absolute;
	top: 50px;
	left: 0px;
	border: 1px solid black;
	
}

.listMessageTextBox {
	width: 418px;
	float: left;
	margin: 0px 5px 0px 5px;
}

.imgFrom {
	border:  1px solid black;
}

.listEvent {
	width: 480px;
}


.listPost {
	min-height:  56px;
	border:  0px;
	border-left:  6px solid rgb(50,50,50);
	width:  476px;	
}

.listPostImgBox {
	float:  left;
	margin:  4px 6px 4px 4px;
}

.postCreatorImage {
	width:  50px;
	border:  1px solid white;
}

.postFirstImage {
	width: 150px;
}

.postBurns {
	overflow: hidden;
	position: relative;	
}

.listPostListHeaderTitle {
	padding:  0px;
}

.listPostHeaderWho{
	padding:  0px;
}

.listPostHeaderWhen{

}

.tag {
	background-color: rgba(230,230,230,1);
	border-left: 3px solid rgba(60, 60, 60, 0.8);
	padding:  1px 3px 1px 3px;
	margin:  3px;
	display: inline-block;
	font-size: 10px;
}

.streamPopBody {
	padding:  0px;
	width:  340px;
}

.streamPopHeader {
	float:  left;
	width:  85%;
	text-align: right;
}

.t_Content_custom {
  padding: 5px;
  margin:  0px;
  max-width: 350px;
  max-height: 220px;
  min-width:  100px;
  color: black;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.t_Content_custom p {
  margin:  0px;
}

.t_Content_postPopup {
	padding: 5px;
	margin:  0px;
	/*width: 350px;
	height: 220px;*/
	/*min-width:  100px;*/
	max-width:  400px;
	max-height: 250px;
	min-width:  100px;
	min-height: 150px
	color: black;
	font-family: arial, sans-serif;
	overflow: hidden;
}

.t_Content_postPopup p {
	 margin:  5px;
	 float: left;
}

.t_Content_postPopup img {
	max-height: 100px;
	max-width: 100px;
	margin:  5px;
	float:  left;
}